.container {
  padding: 0 2em;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.contact-hd {
  margin-bottom: 0.5em;
}
.hello {
  margin-bottom: 3em;
}
.input-con {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.label-margin {
  margin-bottom: 0.5em;
  color: #344054;
}
.info {
  padding: 0.5em;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  outline: 0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #667085;
}
.info:not(:placeholder-shown) {
  color: #101828;
}
.info:focus {
  border: 1px solid #84caff;
}
.flex {
  display: flex;
  gap: 0.5em;
  align-items: baseline;
  margin-bottom: 1em;
}
.submit {
  width: 100%;
  padding: 1em 0.5em;
  border: 0;
  margin-bottom: 4em;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #ffffff;
}
.submit:hover {
  background: #175cd3;
  border: 1px solid #175cd3;
}
.submit:focus {
background: #1570EF;
border: 1px solid #1570EF;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}
