.container {
  padding: 0 2em;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.contact-hd {
  font-weight: 600;
  color: #101828;
  margin-bottom: 0.5em;
}
.hello {
  color: #475467;
  margin-bottom: 3em;
}
.input-con {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 100%;
}
.label-margin {
  margin-bottom: 0.5em;
  color: #344054;
}
.info {
  padding: 0.5em;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  outline: 0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #667085;
}
.info:not(:placeholder-shown) {
  color: #101828;
}
.info:focus {
  border: 1px solid #84caff;
}
.flex {
  display: flex;
  gap: 0.5em;
  align-items: flex-start;
  margin-bottom: 1em;
}
.submit {
  width: 100%;
  padding: 1em 0.5em;
  border: 0;
  margin-bottom: 4em;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #ffffff;
}
.submit:hover {
  background: #175cd3;
  border: 1px solid #175cd3;
}
.submit:focus {
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}
.submit:disabled {
  background: #b2ddff;
  border: 1px solid #b2ddff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.check {
  all: unset;
  height: 1em;
  border: 1px solid #d0d5dd;
  width: 1em;
  background: #ffff;
  border-radius: 6px;
  padding:.1em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agree {
  color: #475467;
}
.check:checked {
  background: #f9fafb;
  border: 1px solid #1570ef;
  color: #101828;
}
.check:checked::after {
  content: url("./assets/check-tick.svg");
}
.none{
  display: none;
}
.check:focus{
border: 1px solid #84CAFF;
box-shadow: 0px 0px 0px 4px #D1E9FF;
}
.check:disabled{
background: #F2F4F7;
border: 1px solid #D0D5DD;
}
.inputerror{
border: 1px solid #F89687;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.inputerror:focus{
  border: 1px solid #F89687;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}
.nameerror{
  display: block;
  color: #F83F23;
}
@media (min-width:60rem){
.name-flex{
  display: flex;
  gap: 1em;
}
}